<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didiglobal.turbo.engine.dao.mapper.FlowDefinitionMapper">
    <resultMap id="FlowDefinitionPO" type="com.didiglobal.turbo.engine.entity.FlowDefinitionPO">
        <id     column="id" property="id"/>
        <result column="tenant" property="tenant"/>
        <result column="caller" property="caller"/>
        <result column="create_time" property="createTime"/>
        <result column="archive" property="archive"/>

        <result column="flow_module_id" property="flowModuleId"/>
        <result column="flow_name" property="flowName"/>
        <result column="flow_key" property="flowKey"/>
        <result column="flow_model" property="flowModel"/>
        <result column="status" property="status"/>

        <result column="operator" property="operator"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- selectByFlowModuleId -->
    <select id="selectByFlowModuleId" resultMap="FlowDefinitionPO">
        SELECT * FROM em_flow_definition WHERE flow_module_id = #{flowModuleId}
    </select>

</mapper>
